<div class="login-page">
  <div class="form">
    <h4>Register with Formudent:</h4>
    <%= form_for :user, url: '/users', class: 'login-form' do |f| %>
      Name: <%= f.text_field :name %>
      Email: <%= f.text_field :email %>
      Password: <%= f.password_field :password %>
      Password Confirmation: <%= f.password_field :password_confirmation %>
      <%= f.submit "Submit" %>
    <% end %>
     Have an account? <%= link_to 'Login', '/login' %>
  </div>
</div>