<!DOCTYPE html>
<html>
<head>
  <title>CareAnalytics</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <p class="navbar-text navbar-right" style="padding-right: 15px;">Signed in as <%= current_user.name%> | <%= link_to "Logout", '/logout' %></p>
      </div>
    </nav>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>

</body>
</html>
