<!DOCTYPE html>
<html>
<head>
  <title>Formudent</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <p class="navbar-text" style="color: white;"><%= current_user.practice_name %> check in</p>
      </div>
      <div class="navbar-header">
          <p class="navbar-text" style="color: white; padding-left: 170px;">Contact Us: <%= current_user.admin_email %></p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if has_logo? %>
          <li><img src="<%= asset_path( "#{logo_file_name}" ) %>" style="margin-right: 15px;" class="navbar-image"/></li>
        <% end %>
      </ul>

    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <p class="navbar-text" style="color: white;">Dentist check in</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
      </ul>

    </div>
  </nav>
<% end %>

<%= yield %>

</body>
</html>
