<!DOCTYPE html>
<html>
<head>
  <title>Formudent</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dr. <%= current_user.name %> check-in</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"> 
            <span class="navbar-right glyphicon glyphicon-align-justify"
                  aria-hidden="true"
                  style="margin-right: 5px; top: 3px; color: #31b0d5; padding-left: 5px;">
            </span> Logout </a></li>
        </ul>
      </div>
    </nav>
<% end %>

<%= yield %>

</body>
</html>
