<!DOCTYPE html>
<html>
<head>
  <title>Formudent</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><%= current_user.practice_name %> check in</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><div class="navbar-brand navbar-powered-by" > powered by </div><img src="<%= asset_path( 'formudent.png' ) %>" class="navbar-image" href="www.formudent.com"/></li>
          <li><a href="/logout"> Logout </a></li>

        </ul>

      </div>
    </nav>
<% end %>

<%= yield %>

</body>
</html>
