<style>
span {
    display: block;
}
</style>
<p class="date">Date: <%= Time.now.to_s("%B %d, %Y") %></p>

<div style="display:inline;">
<% @patient_form.each do |section| %>
    <% if section['label'] != '' %>
        <h3> <%= section['label'] %>: </h3>
    <% else %>
        <br>
    <% end %>
    
    <% if section['type'] == 'row' %>
        <% section['children'].each do |child| %>
            <span> <b><%= child['label'] %>:</b> <%= child['value'] %> </span>
        <% end %>
    <% end %>

    <% if section['type'] == 'radio-with-input' %>
        <span> <%= section['value'] %> - <%= section['details'] %></span>
    <% end %>

    <% if section['type'] == 'checkbox' %>
        <% section['children'].each do |child| %>
            <span> <b><%= child['label'] %>:</b> <%= child['value'] %> </span>
        <% end %>
    <% end %>

    <% if section['type'] == 'text' %>
        <span> <%= section['value'] %> </span>
    <% end %>
<% end %>

<span> Patient Signature: </span>
<br><%= image_tag(Rails.root.join('signature-images', 'signature.png'), height: '128', width: '256', :alt => "signature") %>

<p class="date">Date: <%= Time.now.to_s("%B %d, %Y") %></p>
</div>