<style>
span {
    display: block;
}

.form-header {
    font-size: 18px;
    font-weight: 200;
    font-style: normal;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-checkbox-question {
    font-size: 14px;
    font-weight: 200;
    font-style: normal;
    line-height: 14px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.form-response {
    font-size: 14px;
    font-weight: 200;
    font-style: normal;
    line-height: 14px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.grey-label {
    color: #595d64;
}

.green-label {
    color: green;
}

.black {
    color: black;
}

.wrap-response {
    display: inline;
}
</style>

<div>
    <h4 class='form-header'> Patient information for <%= @user_full_name %> </h4>
<% @patient_form.each do |section| %>
    <% if section['type'] == 'header' %>
        <span class='form-header'> <%= section['label'] %>: </span>
    <% end %>
    
    <% if section['type'] == 'row' %>
        <% section['children'].each do |child| %>
            <span class="form-response"> <%= child['label'] %>: <b class="grey-label"><%= child['value'] %> </b></span>
        <% end %>
    <% end %>

    <% if section['type'] == 'radio-with-input' %>
        <div>
            <span class='form-checkbox-question wrap-response'> <%= section['label'] %>: </span>
            <span class="form-response wrap-response grey-label"> <%= section['value'] %> - <%= section['details'] %></span>
        </div>
    <% end %>

    <% if section['type'] == 'checkbox' %>
        <span class='form-header'> <%= section['label'] %>: </span>
        <% section['children'].each do |child| %>
            <% if child['value'] == true %>
                <span class="form-response"> <%= child['label'] %>: <b class="green-label"> Yes </b> </span>
            <% else %>
                <span class="form-response"> <%= child['label'] %>: <b class="grey-label"> No </b> </span>
            <% end %>
        <% end %>
    <% end %>

    <% if section['type'] == 'text' %>
        <span class="form-response grey-label"> <%= section['value'] %> </span>
    <% end %>
<% end %>

<br><span> Patient Signature: </span>
<br><%= image_tag(Rails.root.join('signature-images', "#{current_user.file_name}.png"), height: '128', width: '256', :alt => "signature") %>

</div>