<style>
span {
    display: block;
}
</style>

<div style="display:inline;">
<% @patient_form.each do |section| %>
    <% if section['label'] != '' %>
        <h3> <%= section['label'] %>: </h3>
    <% else %>
        <br>
    <% end %>
    
    <% if section['type'] == 'row' %>
        <% section['children'].each do |child| %>
            <span> <b><%= child['label'] %>:</b> <%= child['value'] %> </span>
        <% end %>
    <% end %>

    <% if section['type'] == 'radio-with-input' %>
        <span> <%= section['value'] %> - <%= section['details'] %></span>
    <% end %>

    <% if section['type'] == 'checkbox' %>
        <% section['children'].each do |child| %>
            <span> <b><%= child['label'] %>:</b> <%= child['value'] %> </span>
        <% end %>
    <% end %>
<% end %>
</div>